/* You can add global styles to this file, and also import other style files */

.container-full{
    width:100%;
}
.container-wrapper{
    max-width: 1060px;
    margin: 0 auto;
    border:1px solid transparent;
}

ul{
    list-style: none;
    padding: 0;
    margin:0px;
}